    {% load static %}
    {% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="https://www.insidevietnamtravel.com/image/x-icon" href="https://www.insidevietnamtravel.com/images/favicon.ico" rel="icon">
    {% block title %}
    {% endblock %}
    {% block style %}
 <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/flat-ui.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% endblock %}
</head>

<body>

    {% block content %}
    {% endblock %}

    <div class="footer-dark" style="background-image: url({% static 'img/footer.png' %});background-size: 100%;">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3 item">
                        <ul>
                            <li></li>
                        </ul><img src="{% static 'img/logobk.png' %}">
                        <h3>Trường tiểu học<br>Bách Khoa Hà Nội</h3>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Liên hệ</h3>
                        <p><strong>SĐT: &nbsp;</strong>024 3869 4242<br></p>
                        <p><strong>Email: </strong>daotao@hust.edu.vn</p>
                        <p><strong>Địa chỉ: </strong>Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội<br><br></p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
            </div>
        </footer>
        <div class="col edding">
            <p class="edding"></p>
        </div>
    </div>
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>
